article,
aside,
details,
figcaption,
figure,
footer,
form,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
body{
	background-color: #F1F1F2;
	/*Propiedades relacionadas a FUENTES*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	/*Propiedades relacionadas al TEXTO*/
	text-align: left;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/*0ul{
	list-style-type: none;
	list-style-position: outside;
	
}*/
ul,li{
	list-style-type: none;
	list-style-position: outside;
}
section{
	background-color: #F2F1F1;	
	/*Propiedades relacionadas al borde*/
	border-width: 6px; /*altura grosor*/
	
	border-color: #FFFFFF;
	
	padding: 9px;/*Relleno o almohadilla*/
	margin: 9px;
	
}
article{
	margin: 9px;
	border-style: groove;
	background-color: rgba(3,3,0, 0.1);
}
figure{
	
	float:  left;
	
}

footer{
	background-color: #222;
	padding: 9px;
	margin: 9px;
	height: 100%;
	font-size: 0.9em ;
	text-align: center;
	color: #FFFFFF;	
	border-radius: 4px;
	box-shadow: #AAAAAA 0 5px 8px;
}
form{
	padding: 0;
	margin: 0;
	width: 10%;
	display: block;


}
input, textarea{
	border-radius: 1em;
	box-shadow: #AAAAAA 0 5px 8px;
}
label{
	text-shadow : 9px;
}
.headerMain{
	text-shadow: 9px;
	background-color: #222222;
	box-shadow: #AAAAAA 0 5px 8px;
	border-radius: 4px;
	padding: 9px;
	margin: 9px;
  }
  
.navMain{
	color: #FFFFFF;
	background-color: rgba(7,20,24,0.3);
	border-radius: 4px;
	padding: 9px;
	margin: 9px;
	box-shadow: rgba(7,20,24,0.9) 0 5px 8px;
	text-align: left;
	
}
.h1Main{
	position: relative;
	text-align: left;
	text-shadow: 4px 4px 6px orange;
}

.articulo{/*contacto.html*/
	border-color: #ffffff;
}

a{
	transition: 0.2s ease-in;
}

a:link{
	text-decoration:none;
	
}
a:visited{
	text-align: center;
}
a:hover{
	font-size: 20px;
}
a:active{
	background-color: #000000;
}
